.container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  margin-top: 2%;
  justify-content: center; /* Center the content horizontally */
}

.left-pane,
.right-pane {
  margin-top: 6%;
  color: white; /* Set text color to white */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  width: 45%; /* Default width for larger screens */
}

.left-pane {
  background-color: transparent;
  margin-left: 6%;
  padding: 1.5%;
}

.right-pane {
  background-color: transparent;
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center; /* Center content vertically */
}

.poza_home {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5%; /* Adjust the value as needed */
}

.h_home {
  font-weight: 700;
}

/* Media query for tablets */
@media (max-width: 1024px) {
  .left-pane,
  .right-pane {
    width: 100%; /* Make panes full width on tablets */
    margin-left: 0; /* Remove left margin */
    margin-top: 20px; /* Add some space between panes */
  }

  .poza_home {
    margin-right: 0; /* Remove right margin */
  }

  .h_home {
    font-size: 70px; /* Adjust font size for tablets */
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .left-pane,
  .right-pane {
    width: 100%; /* Make panes full width on mobile devices */
    margin-left: 0; /* Remove left margin */
    margin-top: 20px; /* Add some space between panes */
  }

  .poza_home {
    margin-right: 0; /* Remove right margin */
  }

  .h_home {
    font-size: 50px; /* Adjust font size for mobile devices */
  }

  h1 {
    font-size: 3rem !important;
    margin-bottom: 2.5vh !important;
  }

  .p_home {
    font-size: 1.2rem !important;
    margin-bottom: 1.5vh !important;
  }

  .poza_home {
    margin-top: 2.5vh !important;
    height: 50vh !important;
    width: 80vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  h1 {
    font-size: 3rem !important;
    margin-bottom: 2.5vh !important;
  }

  .p_home {
    font-size: 1.2rem !important;
    margin-bottom: 1.5vh !important;
  }

  .poza_home {
    margin-top: 2.5vh !important;
    height: 50vh !important;
    width: 80vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* Media query for very small devices */
@media (max-width: 480px) {
  .left-pane,
  .right-pane {
    width: 100%; /* Make panes full width on very small devices */
    margin-left: 0; /* Remove left margin */
    margin-top: 10px; /* Add some space between panes */
  }

  .poza_home {
    margin-right: 0; /* Remove right margin */
  }

  .h_home {
    font-size: 40px; /* Adjust font size for very small devices */
  }
}