/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Titillium+Web:wght@300;400;700&display=swap");

body,
html {
  height: 100%;
  background-color: "#181414";
}
.bg {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/BG.png");
}
* {
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Titillium Web";
}

p {
  font-family: "Poppins";
}

a {
  text-decoration: none;
}
