/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Titillium+Web:wght@300;400;700&display=swap");

body,
html {
  height: 100%;
  background-color: "#181414";
}
.bg {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/BG.png");
}
* {
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Titillium Web";
}

p {
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.slick-next{
  display: none!important;
}


 .slick-prev{
  display: none!important;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fff!important;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 768px) {
.poza_laptop {
  height: 45vh !important;
  margin-top: 2vh!important;
}
}