/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Titillium+Web:wght@300;400;700&display=swap");

body,
html {
  height: 100%;
}
.bg {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/BG.png");
}
* {
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Titillium Web";
}

p {
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.slick-next{
  display: none!important;
}


 .slick-prev{
  display: none!important;
}

.slick-dots li button:before{
  color:rgb(177,177,177)!important;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #3ED5DD!important;
}

.icon_slider{
  max-width: 40%;
  margin-right:5%;
  margin-left:5%;
}
.icon_contact{
  width: 50%;
  margin-top: 5%;
}
.tagline{
  max-width: 60%;
  margin-top: 5%;
}

@media (max-width: 1024px){
.icon_slider{
  max-width: 25%;
  margin-bottom:2%
}
.icon_contact{
  width: 50%;
  margin-top: 5%;
}
}

@media (max-width: 899px) {
  .poza_laptop {
    max-width: 40% !important;
  }
  .tagline{
    width: 25%;
    margin-top: 5%;
    align-self: center;
  }
  .logo_footer{
    width: 25%;
    align-self: center;
  }
}

@media (max-width: 768px) {
.poza_laptop {
  height: 45vh !important;
  margin-top: 2vh!important;
  max-width: 84% !important;
}
.icon_about{
  width: 15% !important;
  margin-top: 2%;
}
.icon_slider{
  max-width: 30%;
  margin-bottom: 5%;
}
.icon_contact{
  width: 55%;
  margin-top: 5%;
}
}
@media (max-width: 480px) {
.icon_services{
  height: 20% !important;
  width: 20% !important;
  margin-top: 5%;
}
.icon_about{
  width: 15% !important;
  margin-top: 2%;
}
.icon_slider{
  max-width: 40%;
  margin-bottom: 10%;
}
.icon_contact{
  width: 50%;
  margin-top: 5%;
}
.mail,.phone{
  width: 7%;
}
}